path {
  stroke: #ffffff;
  /*stroke-width: 0.25px;
  fill: #ffffff;*/
  opacity: 0.9;
}
div.tooltip {
        color: #f46b6b;
        background-color: #fff;
        padding: .5em;
        border-radius: 2px;
        opacity: 0.9;
        position: absolute;
    }

.hidden {
  display: none;
}

circle {
  fill: #f46b6b;
}

.active {
  fill: orange;
}